:8080 {
    encode zstd gzip

    handle /api/* {
        reverse_proxy {$BACKEND_URL:http://backend:8080}
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
